

.log{
    padding-top:30vh;
    padding-left: 30vw;
    width: 30vw;
    height: 30vh;
}
body{
    font-family: sans-serif;
}
.cuerpo{
    width: 100%;
    height: auto;
    margin:0;
    padding:0;

}